$error: #f52929;
$error-background: #ff7575;
$border: #ababab;
$white: #ffffff;
$background: #f3f3f3;
$primary: #74a043;
$primary-hover: #5e7f35;
$gray: #838383;
$gray-hover: #6d6d6d;
$url-text: #2976ff;
$black: #000000;
$right-blue: #e9f1fb;
$dark-blue: #003b65;
$red: #d02525;
$blue: #2589d0;
$calendar-border: #2589D0