$error: #f52929;
$error-background: #ff7575;
$border: #ababab;
$white: #ffffff;
$background: #f3f3f3;
$primary: #74a043;
$light-primary: #d3e3c4;
$primary-hover: #5e7f35;
$dark-primary: #2b3b1c;
$gray: #838383;
$gray-hover: #6d6d6d;
$url-text: #2976ff;
$black: #000000;
$light-blue: #e9f1fb;
$dark-blue: #003b65;
$red: #d02525;
$blue: #2589d0;
$calendar-border: #2589d0;
$hover: #d3d3d3;
